name: k8s-app
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  TZ: UTC-6
  REGISTRY: docker.io
  IMAGE_NAME: ${{ github.repository }}
  DOCKER_IMAGE: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set Env Vars
      run: |
        echo "BUILD_NUMBER=$(date +%Y%m%d)-${{ github.run_number }}" >> ${GITHUB_ENV}
        echo $(date)

    - name: Docker Build
      run: docker build . -t ${{ env.DOCKER_IMAGE }}:latest -t ${{ env.DOCKER_IMAGE }}:${{ env.BUILD_NUMBER }}
    
    - name: Anchore Scan
      uses: anchore/scan-action@v3
      with:
        image: ${{ env.DOCKER_IMAGE }}:${{ env.BUILD_NUMBER }}
        acs-report-enable: true
        fail-build: false
    
    - name: Publish Anchore Scan Report
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: results.sarif
    
    - name: Docker Login
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Docker Push
      run: docker push ${{ env.DOCKER_IMAGE }} --all-tags
