name: k8s-app
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Docker Build
      run: docker build . --file Dockerfile --tag kvncont/k8s-app:${{ github.run_id }}
    
    - name: Anchore Scan
      uses: anchore/scan-action@v3
      with:
        image: kvncont/k8s-app:${{ github.run_id }}
        acs-report-enable: true
        fail-build: false
    
    - name: Publish Anchore Scan Report
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: results.sarif
