name: CI
on:
  workflow_call:
    inputs:
      mvn-java-version:
        type: string
        default: 21
      sonar-java-version:
        type: string
        default: 21
      pom-file:
        type: string
        default: ./pom.xml
    secrets:
      github-token:
        required: true
      sonar-token:
        required: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      
      - name: Cache SonarCloud
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Setup JDK ${{ inputs.java-version }} (Maven)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.mvn-java-version }}
          cache: maven

      - name: Maven Package
        run: |
          mvn clean package --update-snapshots --file ${{ inputs.pom-file }}

      - name: Setup JDK ${{ inputs.java-version }} (Sonar)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.sonar-java-version }}
     
      - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}
          SONAR_TOKEN: ${{ secrets.sonar-token }}
        run: |
          mvn org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
          -Dsonar.token=$SONAR_TOKEN \
          --file ${{ inputs.pom-file }}
